services:
  buku-service:
    build: ./buku
    image: library-buku:latest
    container_name: buku-service
    ports:
      - "8001:8001"
    environment:
      - SERVER_PORT=8001
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://server-eureka:8761/eureka/
    networks:
      - microservices-network

  anggota-service:
    build: ./anggota
    image: library-anggota:latest
    container_name: anggota-service
    ports:
      - "8002:8002"
    environment:
      - SERVER_PORT=8002
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://server-eureka:8761/eureka/
    networks:
      - microservices-network

  peminjaman-service:
    build: ./peminjaman
    image: library-peminjaman:latest
    container_name: peminjaman-service
    ports:
      - "8003:8003"
    environment:
      - SERVER_PORT=8003
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://server-eureka:8761/eureka/
    networks:
      - microservices-network

  pengembalian-service:
    build: ./pengembalian
    image: library-pengembalian:latest
    container_name: pengembalian-service
    ports:
      - "8004:8004"
    environment:
      - SERVER_PORT=8004
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://server-eureka:8761/eureka/
    networks:
      - microservices-network

  notifikasi-service:
    build: ./rabbitmq
    image: library-rabbitmq:latest
    container_name: notifikasi-service
    ports:
      - "8085:8085"
    environment:
      - SERVER_PORT=8085
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://server-eureka:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq
    networks:
      - microservices-network

networks:
  microservices-network:
    external: true
    name: arsitektur-berbasis-layanan_microservices-network
